
/* YOUR CSS STYLES */
.bg {
    background: url('../img/who_018089.png') no-repeat center center;
    background-size: cover;
    max-width: 100%;
    position: fixed;
    width: 100%;
    height: 75vh; /*same height as jumbotron */
    top:0;
    left:0;
    z-index: -1;
}
.jumbotron {
    height: 75vh;
    min-height: 200px;
    color: white;
    text-shadow: #444 0 1px 1px;
    background: transparent;
}

body {
    font-family: 'Roboto Slab', serif, sans-serif;
    /*background-color: #f7f7f7;*/
    background: url(../img/background.jpg) fixed;
    text-align: left;
}

header {
    text-align: center;
    font-size: 3rem;
}

h1, h2, h3, h4, h5 {
    text-align: center;
}

.h2-left {
    text-align: left;
}

.h2-right {
    text-align: right;
}
p.p1 {
    font-size: 1.2rem;
    text-align: center;
}

p.p1#nets-detail {
    padding-top: 50px;
}

#map-area svg, #tree-area svg {
    /*margin: 20px;*/
    background-color: white;
    border-radius: 15px;
}

#map-area, #tree-area {
    text-align: center;
}

.content.container {
    margin-top: 40px;
    /* margin-bottom: 15vh; */
    padding-top: 20px;
    padding-bottom: 15vh;
    /* background-color: white; */
}

.row {
    padding: 25px 0px;
}

.section {
    margin-left: 150px;
    margin-right: 150px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-top: 30px;
    margin-bottom: 15vh;
    max-width: 1140px;
}

.section.gray {
    padding-left: 80px;
    padding-right: 80px;
    border-radius: 15px;
    background-color: #EEEEEE;
}

.quote {
    padding: 40px;
    /*margin: 20px;*/
}

.centered-content {
    text-align: center;
}

.fast-fact p {
    /*max-width: 75%;*/
    text-align: center;
}
.fast-fact {
    text-align: center;
    min-height: 200px;
    margin: 10px;
    padding: 20px;
    border-style: solid;
    border-radius: 25px;
    border-width: medium;
    border-color: #671fa3;
    background-color: white;
}

/*********************/
/*  IMG     */
/*********************/
img {
    border-radius: 15px;
}
#nets {
    width: 100%;
}
#mosquito {
    width: 80%;
    /*max-width: 250px;*/
}
#teaching {
    width: 95%;
}
#bluenet {
    width: 100%;
}
#table {
    width: 100%;
}
/*********************/
/*  MAPS SECTION     */
/*********************/
option {
    font-family: 'Roboto', sans-serif;
}

select {
    margin-left: 10px;
}

path.map-paths {
    stroke: #262626;
    stroke-width: 0.5;
}

rect.legend-rect {
    stroke: #636363;
    stroke-width: 0.5;
}

rect#no-data {
    fill: #BCBCBC;
}

text.legend-label {
    text-anchor: start;
    font-size: 10px;
}
/*********************/
/* PARASITES section */
/*********************/
.parasite {
    font-weight: bold;
}

#tree-area path {
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5;
}

/*********************/
/*  TOOLTIP OVERLAY  */
/*********************/

.tooltip-title {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
}

.d3-tip {
    line-height: 1.5;
    padding: 12px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: rgba(0, 0, 0, 0.8);
    content: "\25BC";
    position: absolute;
    text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
    margin: -1px 0 0 0;
    top: 100%;
    left: 0;
}

/* SVG STYLES */
.legend-label {
    font-size: 10px;
}